<html>
  <head>
    {% if title %}
    <title>{{title}} - MM1</title>
    {% else %}
    <title>Welcome to Microblog Mark 1</title>
    {% endif %}
    <link href='//fonts.googleapis.com/css?family=Gruppo' rel='stylesheet'>
    <style>
    body {
        font-family: 'Gruppo';font-size: 24px;
    }
    </style>
  </head>
  <body bgcolor="#333333">
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="color:#3090C7">
    {% for message in messages %}
        <li>debug message: {{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
