<html>
  <head>
    {% if title %}
    <title>{{title}} - MM1</title>
    {% else %}
    <title>Welcome to Microblog Mark 1</title>
    {% endif %}
  </head>
  <body bgcolor="#333333">
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="color:#3090C7">
    {% for message in messages %}
        <li>debug message: {{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>
